.head{
	height: 50px;
	background-color: black;
}
.flex{
	display: flex;
}
.title{
	height: 400px;
	margin-top: 20px;
}
h2{
	color:white;
	font-weight: normal;
	font-size: 20px;
}
.block{
	margin-left: 15px;
	margin-top: -7px;
}
.poisk{
	height: 30px;
	width: 150px;
	margin-top: 10px;
	margin-left: 300px;
	background-color: white;
}
.logo{
	height: 250px;
	width: 670px;
	padding-top: 105px;
	margin-left: auto;
	margin-right: auto;
}
.top{
	margin-top: 20px;
}
.h3{
	color:white;
	margin-left: 10px;
}

.left{
	margin-left: 120px;
}
.foundation{
	height: 350px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.tovari{
	height: 300px;
	width: 150px;
	margin-left: 25px;
	text-align: center;
}
.product{
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.ikon{
	height: 70px;
	width: 150px;
}
.qwerty{
	padding-top: 20px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}